@import url('https://fonts.googleapis.com/css2?family=Kufam:wght@500&display=swap');
img{
    width: 160px;
    height: 200px;
    top: 19px;
    left: 701px;
    gap: 0px;
    opacity: 0px;
    margin-top: -55px;
    margin-bottom: 50px;
  

}
.navs{
    font-weight: 500;
    font-size: 20px;
    display: flex;
    align-items: top;
    justify-content: space-around;
    margin: 10px;
    padding: 20px;
}