.traveler-guide{

    display: flex;
    justify-content: space-around;
    width: 100%;
    
    margin-top: -150px;
  
    background-image:url('../images/background.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.context1 h3{
    width: 514px;
height: 94px;
top: 162px;
left: 80px;
gap: 0px;
opacity: 0px;
font-family: Kufam;
font-size: 36px;
font-weight: 500;
line-height: 46.8px;
text-align: left;
margin-top: 220px;

}

.context1 p{
    width: 596px;
    height: 130px;
    top: 272px;
    left: 83px;
    gap: 0px;
    opacity: 0px;
    font-family: Kufam;
    font-size: 16px;
    font-weight: 400;
    line-height: 25.65px;
    text-align: left;
    color: #5F5C5C;
}

.btn{
    width: 349px;
    height: 45px;
    padding: 10px ;
    gap: 10px;
    border-radius: 10px ;
    opacity: 0px;
    background: #000000;
    color: #fff;
    margin-left: -265px;

    top: 441px;
    left: 80px;


}

.btn:hover{
    opacity: 70%;
    cursor: pointer;
}

.images1{

   width: 606px;
height: 517px;
top: 63px;
left: 754px;
gap: 0px;
border-radius: 15px;
opacity: 0px;
margin-top: 150px;

}